/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
   padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'), url(iconfont/MaterialIcons-Regular.woff2) format('woff2'), url(iconfont/MaterialIcons-Regular.woff) format('woff'), url(iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px; /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';

    /* 跟文字對齊 */
    vertical-align: -6px;
}


.material-icons.md-light {
    color: #6200EE;
}

.material-icons.md-b {
    color: #222831;
}

.material-icons.md-g {
    color: #00bfa5;
}

.material-icons.md-r {
    color: #ff1744;
}

.material-icons.md-1, .md-1 {
    font-size: calc(1vmin + 10px);
}

.material-icons.md-2, .md-2 {
    font-size: calc(2vmin + 10px);
}

.material-icons.md-3, .md-3 {
    font-size: calc(3vmin + 10px);
}

.material-icons.md-3, .md-3 {
    font-size: calc(3vmin + 10px);
}

.material-icons.md-4, .md-4 {
    font-size: calc(4vmin + 10px);
}

.material-icons.md-5, .md-5 {
    font-size: calc(5vmin + 10px);
}

.material-icons.md-6, .md-6 {
    font-size: calc(6vmin + 10px);
}

.material-icons.md-7, .md-7 {
    font-size: calc(7vmin + 10px);
}

.material-icons.md-8, .md-8 {
    font-size: calc(8vmin + 10px);
}

.material-icons.md-9, .md-9 {
    font-size: calc(9vmin + 10px);
}

.material-icons.md-10, .md-10 {
    font-size: calc(10vmin + 10px);
}

/* 拖拉清單拖拉鈕 */
.handle {
    float: left;
    padding-bottom: 8px;
    cursor: move;
}


.pointer {
    cursor: pointer;
}

/* 拖拉清單文字 */
.text {
    margin: 1vmin;
}

/* 拖拉清單恢復按鈕 */
.button {
    margin-top: 35px;
}

.flip-list-move {
    transition: transform 0.5s;
}

.no-move {
    transition: transform 0s;
}

.ghost {
    opacity: 0.5;
    background: #c8ebfb;
}

.full{
    width: 100%;
}



/*如果螢幕視窗為直立，就套用這些css設定
螢幕視窗橫向說法: orientation:landscape*/
@media screen and (orientation: portrait) {
    .drag_scroll {
        max-height: 52vmax;
        overflow-y: scroll !important;
    }

    #toast-container {
        top: auto !important;
        right: auto !important;
        bottom: 50vmax;
        left: 50vmin;
    }

    /* 拖拉清單附屬鈕 */
    .option {
        float: right;
        /*padding-bottom: 1vmax;*/
        margin-right: 4vmax;
        cursor: pointer;
    }
    /* BreadCrumb */
    .clean {
        background: none;
        box-shadow: none;
    }

    .clean .breadcrumb {
        color: rgba(0,0,0,1);
        font-size: 4vmin;
    }

    .clean .breadcrumb::before {
        color: rgba(0,0,0,0.7);
        font-size: 4vmin;
    }

    .clean .breadcrumb.router-link-exact-active {
        color: #6200EE;
    }

    .clean .breadcrumb:last-child{
        color: #6200EE !important;
    }

    /* 版面調整 */
    .row .col {
        padding: 0 !important;
    }

    .demo_scroll {
        max-height: calc(70 * (1vw + 1vh - 1vmin));
        overflow-y: scroll !important;
        overflow-x: hidden;
        margin: 0 !important;
    }

    .demo-img {
        display: block;
        margin: auto;
        padding: 3vmin;
    }

    .demo-img-sub {
        display: block;
        margin: auto;
        padding-left: 2vmin;
    }

    .des-icon {
        display: none !important;
    }

    .dept-desc {
        font-size: calc(1.8 * (1vw + 1vh - 1vmin));
    }
}

/*如果螢幕視窗為橫向，就套用這些css設定*/
@media screen and (orientation: landscape) {
    .drag_scroll {
        max-height: calc(50 * (1vw + 1vh - 1vmin));
        overflow-y: scroll !important;
    }

    #toast-container {
        top: auto !important;
        right: auto !important;
        bottom: 50vmin;
        left: calc(50 * (1vw + 1vh - 1vmin));
    }

    /* 拖拉清單附屬鈕 */
    .option {
        float: right;
        /*padding-bottom: 1vmax;*/
        margin-right: 3vmin;
        cursor: pointer;
    }

    /* BreadCrumb */
    .clean {
        background: none;
        box-shadow: none;
    }

    .clean .breadcrumb {
        color: rgba(0,0,0,1);
        font-size: 3vmin;
    }

    .clean .breadcrumb::before {
        color: rgba(0,0,0,0.7);
        font-size: 3vmin;
    }

    .clean .breadcrumb.router-link-exact-active {
        color: #6200EE;
    }
    .clean .breadcrumb:last-child {
        color: #6200EE !important;
    }

    .demo_scroll {
        max-height: 60vmin;
        overflow-y: scroll !important;
        overflow-x: hidden;
        margin: 0 !important;
    }

    .demo-img {
        display: block;
        margin: auto;
        padding: 1vmin;
    }

    .demo-img-sub {
        display: block;
        margin: auto;
        padding-left: 1vmin;
    }

    .dept-desc {
        font-size: calc(1.7 * (1vw + 1vh - 1vmin));
    }
}

/*如果螢幕寬度為 750px (含) 以上，就套用這些 css 設定*/
@media screen and (min-width:750px) {
    .drag_scroll {
        max-height: 60vmin;
        overflow-y: scroll !important;
    }

    #toast-container {
        top: auto !important;
        right: auto !important;
        bottom: 50vmin;
        left: calc(50 * (1vw + 1vh - 1vmin));
    }

    /* 拖拉清單附屬鈕 */
    .option {
        float: right;
        /*padding-bottom: 1vmax;*/
        margin-right: 3vmin;
        cursor: pointer;
    }

    /* BreadCrumb */
    .clean {
        background: none;
        box-shadow: none;
    }
    .clean .breadcrumb {
        color: rgba(0,0,0,1);
        font-size: 2vmin;
    }
    .clean .breadcrumb::before {
        color: rgba(0,0,0,0.7);
        font-size: 2vmin;
    }

    .clean .breadcrumb.router-link-exact-active {
        color: #6200EE;
    }
    .clean .breadcrumb:last-child {
        color: #6200EE !important;
    }

    .demo_scroll {
        max-height: 70vmin;
        overflow-y: scroll !important;
        overflow-x: hidden;
        margin: 0 !important;
    }

    .demo-img {
        display: block;
        margin: auto;
        padding: 1vmin;
    }

    .demo-img-sub {
        display: block;
        margin: auto;
        padding-left: 2vmin;
    }

    .dept-desc {
        font-size: calc(0.7 * (1vw + 1vh - 1vmin));
    }
}

.color_default{
    color: #4db6ac;
}

.color_blue {
    color: #1565c0;
}

.color_red {
    color: #f44336;
}

/* Loading */
.preloader-background {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    position: fixed;
    z-index: 999;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.preloader-background p{
    padding-top: 120px;
    margin-left: -60px;
    opacity: 0.8;
}

/* ADD BLINKING TEXT CLASS */
.blinking {
    animation: blinker 0.5s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* 路由改變動畫 */
.slide-fade-enter-active {
    transition: all .3s ease;
}

.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active for below version 2.1.8 */ {
    transform: translateX(10px);
    opacity: 0;
}

.demo-app {
    /*text-align: left;*/
    text-align: center;
    color: white;
    /*background-color: rebeccapurple;*/
    background: -webkit-linear-gradient(left,#A352FF,#005FD0);
    background: -o-linear-gradient(right,#A352FF,#005FD0);
    background: -moz-linear-gradient(right,#A352FF,#005FD0);
    background: linear-gradient(to right,#A352FF,#005FD0);
    margin: 0;
    padding: 0.5em 0;
}

.demo-group {
    text-align: center;
    color: white;
    background-color: cadetblue;
    margin: 0;
    padding: 0.5em 0;
}

.demo-group-sub {
    text-align: center;
    margin: 0;
    padding: 0.5em 0;
}

.search-input {
    margin: 0;
}

.has-subfunc {
    border: 2px #ff1774 solid;
}

.badge-count{
    min-width: 1rem !important;
    padding: 0 !important;
}