﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>權限管理平台</title>
    <!-- CSS  -->
    <link type="text/css" rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="Content/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="Content/dropify.min.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <link href="Content/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
</head>
<body>
    <div id="app">
        <router-view name="nav"></router-view>

        <div class="container">
            <!-- Preloader and it's background. -->
            <div class="preloader-background hidden">
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                <p class="blinking">Loading</p>
            </div>

            <transition name="slide-fade" mode="out-in">
                <router-view></router-view>
            </transition>
            <br />
        </div>

        <router-view name="actb"></router-view>

    </div>

    <template id="header_area">
        <nav :class="[ isTest ? 'pink' : 'blue-grey', 'darken-4']" role="navigation">
            <div class="nav-wrapper container">
                <router-link id="logo-container" class="brand-logo" to="/">
                    <i class="material-icons md-2 left des-icon">widgets</i>
                    <span class="md-2">{{header_title}}</span>
                </router-link>

                <ul class="right hide-on-med-and-down">
                    <li class="waves-effect waves-block waves-light" v-for="(element, idx) in func_route_map" :key="idx">
                        <router-link class="waves-effect waves-block waves-light" :to="element.route"><i class="material-icons left">{{element.icon}}</i>{{element.name}}</router-link>
                    </li>
                    <li>
                        <a href="#" class="waves-effect waves-block waves-light tooltipped" @click="logout()">
                            <i class="material-icons left">face</i>{{this.$cookies.get('userInfo') === null ? '' : this.$cookies.get('userInfo').name}} <i class="fa fa-sign-out fa-lg right"></i>
                        </a>
                    </li>
                </ul>
                <ul id="nav-mobile" class="sidenav">
                    <li v-for="(element, idx) in func_route_map" :key="idx">
                        <router-link class="waves-effect waves-block waves-light sidenav-close" :to="element.route"><i class="material-icons left">{{element.icon}}</i>{{element.name}}</router-link>
                    </li>
                </ul>

                <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </template>

    <template id="login_area" src="./login_comp.html">
        <!--<div id="loginform" class="teal lighten-2">-->
        <div id="loginform" class="">
            <div class="container" style="margin-top:90px;">
                <div class="row">
                    <div class="col s12 m6 offset-m3 teal lighten-2">
                        <div class="card-panel z-depth-5">
                            <h4 class="center"> 權限管理平台</h4>
                            <div class="row">
                                <form class="col s12 m12" @submit.prevent="login">
                                    <div class="row">
                                        <div class="input-field col s12 m12">
                                            <i class="fa fa-user-circle prefix center color_default"></i>
                                            <input type="text" class="validate" required="required" v-model="account" placeholder="帳號">
                                        </div>

                                        <div class="input-field col s12 m12">
                                            <i class="fa fa-unlock-alt prefix center color_default"></i>
                                            <input type="password" class="validate" required="required" v-model="password" placeholder="密碼">
                                        </div>
                                    </div>

                                    <button class="btn waves-effect waves-light center" type="submit">
                                        登入
                                        <i class="fa fa-sign-in right"></i>
                                    </button>
                                </form>

                            </div><!--row-->

                        </div><!--card-->

                    </div><!--col-->
                </div><!--row-->
            </div><!--conatiner-->
        </div>
    </template>

    <template id="app_manage">
        <div>
            <div class="collection with-header full">
                <div class="collection-header"><h5>{{func_name}}</h5></div>
                <draggable :list="app_list" class="dragArea" handle=".handle" v-bind="dragOptions" @start="drag = true" @end="drag = false">
                    <transition-group typeof="transition" :name="!drag ? 'flip-list' : null">
                        <a class="collection-item row pointer" v-for="(element, idx) in app_list" :key="element.appID" @click="go_group_list(element)">
                            <!--<i class="material-icons handle">drag_handle</i>-->
                            <!--<div class="col s6 l2">
                                <span class="text"><i class="material-icons md-g">apps</i> {{element.appID}}</span>
                            </div>
                            <div class="col s6 l2">
                                <span class="text"><i class="material-icons md-g">phone_{{element.name.includes('Android') ? 'android' : 'iphone'}}</i> {{element.platformID}}</span>
                            </div>-->
                            <div class="col s12 l12">
                                <span class="text"><i class="material-icons md-g left">apps</i> {{element.name}}</span>
                            </div>
                        </a>
                    </transition-group>
                </draggable>
            </div>
        </div>
    </template>

    <template id="function_group">
        <div>
            <ul class="collection with-header full ">
                <li class="collection-header">
                    <div class="row">
                        <div class="col s12 l8"><bread_crumb></bread_crumb> </div>
                        <h5 class="col s6 l2">{{func_name}}</h5>
                        <div class="input-field col s6 l2 search-input">
                            <i class="material-icons prefix color_default">search</i>
                            <input id="priv_search" type="text" v-model="search">
                            <label for="priv_search">搜尋</label>
                        </div>
                    </div>

                    <div class="row des-icon">
                        <div class="col l1">

                        </div>
                        <div class="col l2">
                            <span class="text">群組編號</span>
                        </div>

                        <div class="col l2">
                            <span class="text">群組名稱</span>
                        </div>

                        <div class="col l2 offset-l5">
                            <span class="text">功能區</span>
                        </div>
                    </div>
                </li>
                <draggable :list="func_group_list" class="dragArea drag_scroll" handle=".handle" v-bind="dragOptions" @start="drag = true" @end="drag = false">
                    <transition-group typeof="transition" :name="!drag ? 'flip-list' : null">
                        <li class="collection-item row" v-for="(element, idx) in search_list" :key="idx">
                            <div class="col s4 l1">
                                <i class="material-icons md-light handle" v-if="isMovable">drag_handle</i>
                            </div>
                            <div class="col s8 l2">
                                <i v-if="element.isEnabled" class="material-icons md-g left">check</i>
                                <i v-else class="material-icons md-r left">block</i>
                                <span class="text" title="群組編號">{{element.functionGroupID}}</span>
                            </div>
                            <div class="col s12 l3 pointer" @click="go_function_list(element)">
                                <span class="text" title="群組名稱">
                                    <span class="badge right badge-count">{{element.scount}}</span>
                                    <i class="material-icons md-g right">input</i>
                                    {{element.name}}
                                </span>
                            </div>

                            <div class="col s12 l6">
                                <a v-if="false" class="waves-effect waves-light option modal-trigger" @click="choice_item(element)" href="#del" title="刪除"><i class="material-icons color_red">delete</i></a>
                                <a href="#fgi" class="modal-trigger waves-effect waves-light option" @click="choice_item(element)" title="編輯"><i class="material-icons color_blue">{{element.editable ? 'edit' : 'visibility'}}</i></a>
                                <a class="waves-effect waves-light option" @click="go_permission('dept', element)" title="部門／群組權限">
                                    <i class="material-icons color_default">group</i>
                                    <span class="badge badge-count">{{element.dcount}} / {{element.gcount}}</span>
                                </a>
                                <a class="waves-effect waves-light option" @click="go_permission('user', element)" title="使用者權限">
                                    <i class="material-icons color_default">person</i>
                                    <span class="badge badge-count">{{element.ucount}}</span>
                                </a>
                            </div>
                        </li>
                    </transition-group>
                </draggable>
            </ul>

            <button v-if="isMovable" href="#fgi" @click="choice_item({name: '', functionGroupCode: '', isEnabled: true, editable: true})" class="modal-trigger waves-effect waves-light btn blue lighten-2"><i class="material-icons left des-icon">add</i>新增</button>
            <button v-if="isMovable && (search_list.length > 0)" @click="save_sort" class="waves-effect waves-light btn"><i class="material-icons left des-icon">save</i>儲存排序</button>
            <button v-if="isMovable && (search_list.length > 0)" @click="sort" class="waves-effect waves-light btn deep-orange lighten-2"><i class="material-icons left des-icon">reorder</i>重新排序</button>


            <func_group_item :item="item" :cache_data="cache_data" :is-change="isChange" :is-movable="isMovable" v-on:add="add" v-on:upd="upd"></func_group_item>
            <del_confirm :item="item" v-on:del="del"></del_confirm>
        </div>
    </template>

    <template id="app_function">
        <div>
            <ul class="collection with-header full">
                <li class="collection-header ">
                    <div class="row">
                        <div class="col s12 l8"><bread_crumb></bread_crumb> </div>
                        <h5 class="col s6 l2">{{func_name}}</h5>
                        <div class="input-field col s6 l2 search-input">
                            <i class="material-icons prefix color_default">search</i>
                            <input id="priv_search" type="text" v-model="search">
                            <label for="priv_search">搜尋</label>
                        </div>
                    </div>
                    <div class="row des-icon">
                        <div class="col l1">

                        </div>
                        <div class="col l2">
                            <span class="text">功能編號</span>
                        </div>

                        <div class="col l2 offset-l1">
                            <span class="text">功能名稱</span>
                        </div>
                        <div class="col l2">
                            <span class="text">備註</span>
                        </div>
                        <div class="col l2 offset-l2">
                            <span class="text">功能區</span>
                        </div>
                    </div>
                </li>
                <draggable :list="app_function_list" class="dragArea drag_scroll" handle=".handle" v-bind="dragOptions" @start="drag = true" @end="drag = false">
                    <transition-group typeof="transition" :name="!drag ? 'flip-list' : null">
                        <li class="collection-item row" v-for="(element, idx) in search_list" :key="idx">
                            <div class="col s4 l1">
                                <i class="material-icons md-light handle" v-if="isMovable">drag_handle</i>
                            </div>
                            <div class="col s8 l2">
                                <span class="text" title="功能編號">
                                    <i v-if="element.isEnabled" class="material-icons md-g left">check</i>
                                    <i v-else class="material-icons md-r left">block</i>
                                    {{element.functionID}}
                                </span>
                            </div>

                            <div class="col s6 offset-s3 l1">
                                <img class="responsive-img" :src="element.iconURL.trim() ? element.iconURL : './icons/icon_placeholder.jpg'">
                            </div>

                            <div class="col s12 l2" :class="{'pointer' : element.hasSubFunction}" @click="element.hasSubFunction ? go_sub_function_list(element) : null">
                                <span class="" title="功能名稱">
                                    <span v-if="element.hasSubFunction" class="badge right badge-count">{{element.scount}}</span>
                                    <i v-if="element.hasSubFunction" class="material-icons md-g right">input</i>
                                    {{element.name}}
                                </span>
                            </div>
                            <div class="col s12 l2">
                                <i v-if="element.defaultPermission" class="material-icons light-blue-text text-accent-3">language</i>
                                <span class="text" title="備註">{{element.comment}}</span>
                            </div>

                            <div class="col s12 l4">
                                <a v-if="false" class="waves-effect waves-light option modal-trigger" @click="choice_item(element)" href="#del" title="刪除"><i class="material-icons color_red">delete</i></a>
                                <a href="#afi" class="modal-trigger waves-effect waves-light option" @click="choice_item(element)" title="編輯"><i class="material-icons color_blue">{{element.editable ? 'edit' : 'visibility'}}</i></a>
                                <a class="waves-effect waves-light option" @click="go_permission('dept', element)" title="部門／群組權限">
                                    <i class="material-icons color_default">group</i>
                                    <span class="badge badge-count">{{element.dcount}} / {{element.gcount}}</span>
                                </a>
                                <a class="waves-effect waves-light option" @click="go_permission('user', element)" title="使用者權限">
                                    <i class="material-icons color_default">person</i>
                                    <span class="badge badge-count">{{element.ucount}}</span>
                                </a>
                            </div>
                        </li>
                    </transition-group>
                </draggable>
            </ul>

            <button v-if="isMovable" href="#afi" @click="choice_item({isEnabled: true, hasSubFunction: false, comment: '', name: '', functionGroupCode: '', functionCode: '', defaultPermission: false, editable: true})" class="modal-trigger waves-effect waves-light btn blue lighten-2"><i class="material-icons left des-icon">add</i>新增</button>
            <button v-if="isMovable && search_list.length" @click="save_sort" class="waves-effect waves-light btn"><i class="material-icons left des-icon">save</i>儲存排序</button>
            <button v-if="isMovable && search_list.length" @click="sort" class="waves-effect waves-light btn deep-orange lighten-2"><i class="material-icons left des-icon">reorder</i>重新排序</button>


            <app_function_item :item="item" :cache_data="cache_data" :is-change="isChange" :is-movable="isMovable" v-on:add="add" v-on:upd="upd"></app_function_item>
            <del_confirm :item="item" v-on:del="del"></del_confirm>
        </div>
    </template>

    <template id="privielege">
        <div>
            <ul class="collection with-header full">
                <li class="collection-header row">
                    <div class="row">
                        <div class="col s12 l8"><bread_crumb></bread_crumb> </div>
                        <h5 class="col s6 l2">{{func_name}}</h5>
                        <div class="input-field col s6 l2 search-input">
                            <i class="material-icons prefix color_default">search</i>
                            <input id="priv_search" type="text" v-model="search">
                            <label for="priv_search">搜尋</label>
                        </div>
                    </div>

                    <div class="row des-icon">
                        <div class="col l5">
                            <span class="text">{{isUser ? '使用者資訊' : '部門／群組資訊'}}</span>
                        </div>
                        <div class="col l2">
                            <span class="text">權限等級</span>
                        </div>
                        <div class="col l3">
                            <span class="text">備註</span>
                        </div>
                        <div class="col l2 center">
                            <span class="text">功能區</span>
                        </div>
                    </div>
                </li>
                <div class="drag_scroll">
                    <li class="collection-item row " v-for="(element, idx) in search_list" :key="idx">
                        <div class="col s12 l5">
                            <span class="text" :title="isUser ? '使用者資訊' : '部門／群組資訊'">
                                <i v-if="element.isEnabled" class="material-icons md-g left">check</i>
                                <i v-else class="material-icons md-r left">block</i>
                                {{get_title(element)}}
                            </span>
                        </div>

                        <div class="col s3 l2">
                            <span class="text" title="權限等級"><i class="material-icons left">sort</i> {{element.level}}</span>
                        </div>

                        <div class="col s9 l3">
                            <span class="text" title="備註">{{element.comment}}</span>
                        </div>
                        <div class="col s12 l2">
                            <a class="waves-effect waves-light option modal-trigger" @click="choice_item(element)" href="#del" title="刪除"><i class="material-icons color_red">delete</i></a>
                            <a href="#pi" class="modal-trigger waves-effect waves-light option" @click="choice_item(element)" title="編輯"><i class="material-icons color_blue">edit</i></a>
                        </div>
                    </li>
                </div>
                <hr>
                <div v-if="!isUser" class="drag_scroll">
                    <li class="collection-item row " v-for="(element, idx) in group_search_list" :key="idx">
                        <div class="col s12 l5">
                            <span class="text" title="群組資訊">
                                <i v-if="element.isEnabled" class="material-icons md-g left">check</i>
                                <i v-else class="material-icons md-r left">block</i>
                                {{get_title(element)}}
                            </span>
                        </div>

                        <div class="col s3 l2">
                            <span class="text" title="權限等級"><i class="material-icons left">sort</i> {{element.level}}</span>
                        </div>

                        <div class="col s9 l3">
                            <span class="text" title="備註">{{element.comment}}</span>
                        </div>
                        <div class="col s12 l2">
                            <a class="waves-effect waves-light option modal-trigger" @click="choice_group_item(element)" href="#del" title="刪除"><i class="material-icons color_red">delete</i></a>
                            <a href="#pi" class="modal-trigger waves-effect waves-light option" @click="choice_group_item(element)" title="編輯"><i class="material-icons color_blue">edit</i></a>
                        </div>
                    </li>
                </div>
            </ul>

            <button href="#pi" @click="choice_group_item({isEnabled: true, level: 0, comment: '', departmentID: '', user: '', fullUnitID: '', companyID: '', groupID: ''})" class="modal-trigger waves-effect waves-light btn blue lighten-2"><i class="material-icons left des-icon">add</i>新增</button>

            <privilege_item :item="item" :fullunit_list="fullunit_list" :group_list="group_list" :cache_data="cache_data" :is-change="isChange" :is-user="isUser" :is-auto-trigger="isAutoTrigger" v-on:add="add" v-on:upd="upd" v-on:change_auto_trigger="change_auto_trigger"></privilege_item>
            <del_confirm :item="item" :is-user="isUser" v-on:del="del"></del_confirm>
        </div>
    </template>


    <template id="func_group_item">
        <div>
            <div id="fgi" class="modal">
                <div class="modal-content">
                    <h4>群組資訊</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input :disabled="item.editable ? false : true" placeholder="中文名稱" id="name" type="text" v-model="item.name">
                            <label for="name" class="active">中文名稱</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" v-if="false">
                            <input :disabled="item.editable ? false : true" placeholder="英文名稱" id="functionGroupCode" type="text" v-model="item.functionGroupCode">
                            <label for="functionGroupCode" class="active">英文名稱</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <p>
                                <label>
                                    <input :disabled="item.editable ? false : true" type="checkbox" checked="checked" v-model="item.isEnabled">
                                    <span>停／啟用</span>
                                </label>
                            </p>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button v-if="item.editable" v-on="{click: item.uuid ? upd : add}" :class="{ 'disabled': validation }" class="modal-action modal-close waves-effect waves-teal btn-flat color_blue"><i class="material-icons left">{{item.uuid ? 'save' : 'add'}}</i>{{item.uuid ? '儲存' : '新增'}}</button>
                    <button class="modal-action modal-close waves-effect waves-red btn-flat color_red"><i class="material-icons left">close</i>取消</button>
                </div>
            </div>
        </div>
    </template>

    <template id="app_function_item">
        <div>
            <div id="afi" class="modal">
                <div class="modal-content">
                    <h4>{{this.$route.params.functionID ? '子' : ''}}功能資訊</h4>
                    <div class="row">
                        <div class="input-field col s12">
                            <input :disabled="item.editable ? false : true" placeholder="中文名稱" id="name" type="text" v-model="item.name">
                            <label for="name" class="active">中文名稱</label>
                        </div>
                    </div>
                    <!--{{item}}-->
                    <div class="row">
                        <div class="input-field col s12" v-if="false">
                            <input :disabled="item.editable ? false : true" placeholder="英文名稱" id="functionCode" type="text" v-model="item.functionCode">
                            <label for="functionCode" class="active">英文名稱</label>
                        </div>
                    </div>

                    <div class="row">
                        <!--<div class="input-field col s12">
                            <input placeholder="圖示來源" id="iconURL" type="text" v-model="item.iconURL">
                            <label for="iconURL" class="active">圖示來源</label>
                        </div>-->

                        <div class="col s12 l12">
                            <input :disabled="item.editable ? false : true" type="file" accept="image/*" data-show-remove="false" class="dropify" :data-default-file="item.iconURL" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input :disabled="item.editable ? false : true" placeholder="網頁來源" id="webURL" type="text" v-model="item.webURL">
                            <label for="webURL" class="active">網頁來源</label>
                        </div>
                    </div>

                    <div class="row" v-if="!this.$route.params.functionID">
                        <div class="input-field col s12">
                            <p>
                                <label>
                                    <input :disabled="item.editable ? false : true" type="checkbox" checked="checked" v-model="item.hasSubFunction">
                                    <span>子功能</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>
                                <label>
                                    <input :disabled="item.editable ? false : true" type="checkbox" checked="checked" v-model="item.isEnabled">
                                    <span>停／啟用</span>
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <p>
                                <label>
                                    <input :disabled="item.editable ? false : true" type="checkbox" checked="checked" v-model="item.defaultPermission">
                                    <span>不控管權限 (所有人都可使用)</span>
                                </label>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input :disabled="item.editable ? false : true" placeholder="備註" id="comment" type="text" v-model="item.comment">
                            <label for="comment" class="active">備註</label>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button v-if="item.editable" v-on="{click: item.uuid ? upd : add}" :class="{ 'disabled': validation }" class="modal-action modal-close waves-effect waves-teal btn-flat color_blue"><i class="material-icons left">{{item.uuid ? 'save' : 'add'}}</i>{{item.uuid ? '儲存' : '新增'}}</button>
                    <button class="modal-action modal-close waves-effect waves-red btn-flat color_red"><i class="material-icons left">close</i>取消</button>
                </div>
            </div>
        </div>
    </template>

    <template id="privilege_item">
        <div>
            <div id="pi" class="modal">
                <div class="modal-content">
                    <h4>權限資訊</h4>

                    <div class="row" v-if="this.$route.params.type === 'user'">
                        <div class="input-field col s12">
                            <input placeholder="使用者" type="text" id="autocomplete-input-user" class="autocomplete" v-model="item.user" v-on:input="auto_select">
                            <label for="autocomplete-input" class="active">使用者</label>
                        </div>
                    </div>

                    <div class="row" v-else="this.$route.params.type === 'dept'">
                        <div v-show="!(item.uuid && item.groupID)">
                            <div class="input-field col s12">
                                <input placeholder="部門" type="text" id="autocomplete-input-dept" class="autocomplete" v-model="item.fullUnitID" v-on:input="auto_select">
                                <label for="autocomplete-input" class="active">部門</label>
                            </div>

                            <!--{{isAutoTrigger}}
                                {{item.departmentID}}
                                {{item}}-->
                            <div class="col s12" v-if="isAutoTrigger && item.fullUnitID.length > 4">
                                <p>
                                    <label>
                                        <input @change="changeDept" class="with-gap" type="radio" name="dept_type" v-model="item.departmentID" :value="substr_dept(item, 4)" />
                                        <span>{{item.companyID}}{{substr_dept(item, 4)}}</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input @change="changeDept" class="with-gap" type="radio" name="dept_type" v-model="item.departmentID" :value="substr_dept(item, 3)" />
                                        <span>{{item.companyID}}{{substr_dept(item, 3)}}</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input @change="changeDept" class="with-gap" type="radio" name="dept_type" v-model="item.departmentID" :value="substr_dept(item, 2)" />
                                        <span>{{item.companyID}}{{substr_dept(item, 2)}}</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input @change="changeDept" class="with-gap" type="radio" name="dept_type" v-model="item.departmentID" :value="substr_dept(item, 1)" />
                                        <span>{{item.companyID}}{{substr_dept(item, 1)}}</span>
                                    </label>
                                </p>
                                <p>
                                    <label>
                                        <input class="with-gap" type="radio" name="dept_type" v-model="item.departmentID" :value="substr_dept(item, 0)" checked />
                                        <span>{{item.companyID}}{{substr_dept(item, 0)}}</span>
                                    </label>
                                </p>
                            </div>
                        </div>
                        <div class="row" v-show="!(item.uuid && item.companyID)">
                            <div class="input-field col s12">
                                <select v-model="item.groupID" @change="changeGroup">
                                    <option value="" disabled selected>選擇群組</option>
                                    <option v-for="(group, idx) in view_group_list" :value="group.Guid" :key="idx">{{group.GroupName}}</option>
                                </select>
                                <label>群組</label>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="input-field col s12">
                            <p type="number" id="level">{{item.level}}</p>
                            <label for="level" class="active">權限等級</label>
                            <p class="range-field">
                                <input type="range" min="0" max="100" v-model="item.level">
                            </p>

                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <p>
                                <label>
                                    <input type="checkbox" checked="checked" v-model="item.isEnabled">
                                    <span>停／啟用</span>
                                </label>
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s12">
                            <input placeholder="備註" id="comment" type="text" v-model="item.comment">
                            <label for="comment" class="active">備註</label>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button v-on="{click: item.uuid ? upd : add}" :class="{ 'disabled': validation }" class="modal-action modal-close waves-effect waves-teal btn-flat color_blue"><i class="material-icons left">{{item.uuid ? 'save' : 'add'}}</i>{{item.uuid ? '儲存' : '新增'}}</button>
                    <button class="modal-action modal-close waves-effect waves-red btn-flat color_red"><i class="material-icons left">close</i>取消</button>
                </div>
            </div>
        </div>
    </template>

    <template id="del_confirm">
        <div id="del" class="modal">
            <div class="modal-content">
                <h4>刪除</h4>
                <p>確定要刪除「{{get_title}}」 ?</p>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-teal btn-flat color_blue" @click="del(item)"><i class="material-icons left">check</i>確認</a>
                <a class="modal-close waves-effect waves-red btn-flat color_red"><i class="material-icons left">close</i>取消</a>
            </div>
        </div>
    </template>

    <template id="float-action">
        <div class="fixed-action-btn toolbar direction-top">
            <a class="btn-floating btn-large cyan darken-3">
                <i class="large material-icons">more_horiz</i>
            </a>
            <ul>
                <li class="waves-effect waves-light"><a @click="back"><i class="material-icons">undo</i> 返回</a></li>
                <li class="waves-effect waves-light"><a @click="home"><i class="material-icons">home</i> 首頁</a></li>
                <li class="waves-effect waves-light"><a @click="demo"><i class="material-icons">pageview</i> 預覽</a></li>
                <!--<li class="waves-effect waves-light"><a href="#!"><i class="material-icons">publish</i></a></li>
                <li class="waves-effect waves-light"><a href="#!"><i class="material-icons">attach_file</i></a></li>-->
            </ul>
        </div>
    </template>

    <template id="breadcrumb">
        <nav class="clean">
            <div class="nav-wrapper">
                <div class="col s12">
                    <router-link v-for="(element, idx) in bc_list" :key="idx" class="breadcrumb" :to="element.route">{{element.name}}</router-link>
                </div>
            </div>
        </nav>
    </template>

    <template id="demo_area">
        <div class="row">
            <h5>使用者畫面預覽</h5>

            <div class="col s12 m6">
                <div class="input-field col s12" v-if="!!app_list">
                    <select v-model="appID" v-on:change="return_click">
                        <option :value="app.appID" v-for="(app, idx) in app_list" :key="idx">{{app.name}}</option>
                    </select>
                    <label>應用程式</label>
                </div>

                <div class="input-field col s12">
                    <input placeholder="使用者" type="text" id="autocomplete-input" class="autocomplete" v-model="account" v-on:input="auto_select">
                    <label for="autocomplete-input" class="active">使用者</label>
                </div>
                <div class="chip" v-if="name">
                    {{name}}
                </div>
            </div>

            <div class="col s12 m5" v-if="menu.length > 0 && menuID === 1 && !isLoading">
                <h5 class="demo-app">{{app_list[appID - 1].name}}</h5>

                <div class="card demo_scroll">
                    <div v-for="(group, idx) in menu" :key="idx">
                        <h5 class="demo-group">{{group.functionGroupName}}</h5>
                        <div class="row">
                            <div class="col s4" v-for="(func, idx) in group.functions" :key="idx">
                                <img :title="func.functionName" :class="{'has-subfunc pointer': func.hasSubFunction}" class="responsive-img demo-img" v-on:click="func_click(func)" :src="func.iconURL.trim() ? func.iconURL : './icons/icon_placeholder.jpg'">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col s12 m5" v-if="menu.length > 0 && menuID === 2 && !isLoading"
                 v-for="(group, idx) in menu" :key="idx">
                <h5 class="demo-group-sub row pointer" v-on:click="return_click">
                    <i class="material-icons col s1 blue-text text-accent-3">chevron_left返回</i>
                    <span class="col s11">{{group.functionGroupName}}</span>
                </h5>
                <hr />
                <div class="card demo_scroll">
                    <div>
                        <div class="row" v-for="(func, idx) in group.functions" :key="idx">
                            <div class="col s3">
                                <img class="responsive-img demo-img-sub" :src="func.iconURL.trim() ? func.iconURL : './icons/icon_placeholder.jpg'">
                            </div>
                            <h5 class="col s9">{{func.functionName}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 m5" v-if="isLoading">
                <div class="progress">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>

        <!--<div class="container">
            <div class="row">
                <div class="col s12 m6">
                    <div class="card">
                        <h5 class="demo-app">{{app.app[0].name}}</h5>
                        <div v-for="(group, idx) in app.group_list" :key="idx">
                            <h5 class="demo-group">{{group.function_group[0].name}}</h5>
                            <div class="row">
                                <div class="col s4" v-for="(func, idx) in group.function_list" :key="idx">
                                    <img class="responsive-img" :src="func.app_function[0].iconURL">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </template>

    <!--  Scripts-->
    <script src="Scripts/polyfill.min.js"></script>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/vue.min.js"></script>
    <script src="Scripts/vue-cookie.js"></script>
    <script src="Scripts/axios.min.js"></script>
    <script src="Scripts/vue-router.js"></script>

    <script src="Scripts/materialize.min.js"></script>
    <script src="Scripts/Sortable.min.js"></script>
    <script src="Scripts/vuedraggable.umd.min.js"></script>
    <script src="Scripts/dropify.min.js"></script>
    <script src="Scripts/underscore-min-1.9.1.js"></script>

    <script src="Scripts/init.js"></script>
</body>
</html>
